* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    /* max-width: 1200px; */
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #5858e2;
}
